body {
    margin: 0;
    background-color: black;
}

#root {
    padding: 3rem;
    text-align: center;
}

#root h1 {
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
}

#root canvas {
    display: block;
    margin: 0 auto;
}